@media screen and (max-width:1400px) {
    #spacer{  width: 55vw; }
}
@media screen and (max-width:1190px) {
    #spacer{  width: 50vw; }
}
@media screen and (max-width:1070px) {
    #spacer{  width: 45vw; }
}